In [2]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

In [3]:
conn = sqlite3.connect('top_cities.db')

In [4]:
c = conn.cursor()

In [5]:
c.execute('DROP TABLE IF EXISTS cities')

In [6]:
c.execute('''
    CREATE TABLE cities(
    rank integar,
    city text,
    population integer
    )
    ''')

In [8]:
c.execute('INSERT INTO cities VALUES(?,?,?)',(1,'상하이',24150000))

In [9]:
c.execute('INSERT INTO cities VALUES(:rank,:city,:population)',{'rank':2,'city':'카라치','population':23500000})

In [11]:
c.executemany('INSERT INTO cities VALUES(:rank,:city,:population)',[
    {'rank':3,'city':'베이징','population':21516000},
    {'rank':4,'city':'텐진','population':14722100},
    {'rank':5,'city':'이스탄불','population':14160467},
])

In [12]:
conn.commit()

In [13]:
c.execute('Select * from cities')

In [14]:
for row in c.fetchall():
    print(row)

(1, '상하이', 24150000)
(2, '카라치', 23500000)
(3, '베이징', 21516000)
(4, '텐진', 14722100)
(5, '이스탄불', 14160467)

In [15]:
conn.close()